@media (min-width: 1280px) {
    .tablet-img {
        display: none;
    }

    .mobile-img {
        display: none;
    }

}

/* TABLE ADAPTATION */

@media (min-width: 768px) and (max-width: 1280px) {


    /* HEADER */

    .container-wide {
        width: 90%;
    }

    .header {
        width: 100vw;    
        height: 392px;
        margin-bottom: 50px;     
        background-image: url("../img/banner-bg-tablet.jpg");
      }

    .logo {
        width: 179px;
        height: 41px;
        margin-left: 0;
    }

    .nav {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .title-h1 {
        width: 610px;
        font-size: 40px;        
        line-height: 1.22;
    }


    /* TRENDS */ 

    .trend {
        width: 49%;
    }

    .title-h2 {
        font-size: 18px;
        line-height: 1.55;           
    }

    .title-h2::after { 
        left: 46%;
    }

    .trend-picture   {
        width: 100%;
    }

    .trend-picture img {
        width: 100%;
    }
     /* CONTENT */

    .content {
        max-width: 100vw;     
    }

    .post {
        flex-direction: column;
    }

    .postlist {
        max-width: 50%;
    }

    .post-picture {
        margin-bottom: 15px;
    }

    .post-picture img {        
        width: 100%;         
    }

    .post-frame {
        margin-left: 0; 
        border-bottom: 2px solid #eeeeee;
    }

    .frame-category {
        margin-bottom: 15px;
    }

    .sidebar {
        max-width: 40%;
    }

    /* SHOP */

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: none;
    }

    .shop-articles {
        max-width: 90%;
        justify-content: flex-start;
    }



    .shop-item__title {
        font-size: 17px;
    }

    /* FOOTER */

    .main-footer {
        max-width: 93%;
    }

    .footer-item {
        width: 20px;
        height: 20px;
    }

    .copyrights {
        margin-bottom: 37px;
    }

    /* POPUP */

    .popup-container {
        width: 25vw; 
    }

    .popup {
        z-index: 999;  
    }
}


/* MOBILE ADAPTATION */


@media (max-width: 768px) {

    /* HEADER */

    .container-wide {
        width: 90%;             
    }
    
    .row {
        justify-content: flex-end;
    }    

    .header {
        width: 100vw;    
        height: 638px;
        margin-bottom: 50px;     
        background-image: url("../img/banner-mobile.jpg");
        position: relative;
    }

    .logo {
        width: 269px;
        height: 61px;
        position: absolute;
        top: 38%;
        right: 14%;
    }

    .nav {
        display: none;
    }

    .nav-button {
        display: block;
    }

    .title-h1 {
        width: 280px;
        font-size: 26px;
        line-height: 1.384;
        position: absolute;
        top: 51%;
        right: 11%;
    }


    /* TRENDS */ 

    .trend {
        width: 100%;
        margin-top: 1px;
    }

    .trend-picture   {
        width: 100%;
    }

    .trend-picture img {
        width: 100%;
    }

    .title-h2 {
        font-size: 16px;                        
    }

    .title-h2::after { 
        left: 42%;
    }

    .trend-content__title {
        font-size: 16px;        
    }




    /* CONTENT */

    .content {
        width: 100vw;       
    }

    .postlist {
        max-width: 90%;
        margin-bottom: 45px;
    }

    .post {
        flex-direction: column;
    }

    .post-picture {
        margin-bottom: 16px;
    }

    .post-picture img {        
        width: 100%;         
    }

    .post-frame {
        margin-left: 0;        
        border-bottom: 2px solid #eeeeee;
    }

    .frame-category {
        margin-bottom: 16px;
    }

    .frame-title {
        font-size: 16px;
    }

    .date-author__author {
        display: none;
    }

    .post-text {
        font-size: 14px;
        padding-bottom: 23px;
    }

    .sidebar {
        max-width: 100vw;
    }

    .sidebar-title {
        margin: 0 auto;
    }

    .post-list {
        padding-top: 25px;
        margin: 0;
    }

    .search {
        margin-left: 0;
    }

    .subscribe {
        margin-top: 45px;
    }

    .subscribe-form {
        margin: 0;
    }

    .tags-list {
        margin: 42px 0;
    }

    .tags {   
        margin: 0;       
    }

    .tags a {        
        margin: 0;
    }

    .categories {
        padding: 0;
        margin: 0;
    }

    /* SHOP */

    .desktop-img {
        display: none;
    }

    .tablet-img {
        display: none;
    }

    .shop {
        margin: 42px 0;
        padding: 0;    }

    .shop-item {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .shop-item__title {
        font-size: 17px;
    }

    /* FOOTER */

    .footer {
        width: 90%;
        margin: 0 auto;
    }

    .footer-item {
        width: 20px;
        height: 20px;
    }

    .footer-copyrights {
        margin: 50px 0;
    }

    /* POPUP */

    .popup-container {
        width: 90vw; 
    }

    .popup {
        z-index: 999;  
    }

}




